body {
	background-color: #161616;
}

h2 {
	margin-top: 80px;
	color: #FD442A;
	text-align: center;
	font-family: Trebuchet MS;
	font-size: 50px;
}

h3 {
	margin-top: 15px;
	margin-bottom: 10px;
	color: #5CDB95;
	text-align: center;
	font-family: Trebuchet MS;
	font-size: 25px;
	text-decoration: underline;
}

a:link, a:visited {
	color: #C7493A;
	text-align: center;
	font-family: Trebuchet MS;
	font-size: 20px;
	text-decoration: none;
}

a:hover {
	color: #FBEEC1;
}

div {
	text-align: center;
}