.container,
.container-nav {
	max-width: 95%;
	width: 50%;
}

#map-width {
	width: 70%;
}

.nav navbar-nav,
.navbar-default .navbar-nav > li > a {
	display: flex;
    justify-content: space-around;
}

.navbar-nav {
	display: flex;
	flex-direction: row;
	float: right;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: #000000;
	background-color: #FFFFFF;
}

.page-title {
	float: left;
	color: #0073B0;
	font-weight: 600;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 22px;
	font-family: Noto Serif, serif;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	margin-right: 15px;
	display: inline-block !important;
}

.colp-8, .colmap-8 {
  width: 66.67%;
  float: left;
  padding: 15px;
}

.colp-4, .colmap-4 {
  width: 33.33%;
  float: left;
  padding: 15px;
}
@media only screen and (max-width: 1050px) {
	.container {
  		width: 90%;
  	}
  	.container-nav {
  		width: 90%;
  	}
  	#map-width {
  		width: 90%;
  	}
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  body {
  	display: flex;
  	flex-flow: column;
  }
  .map-div { order: 1; }
  .welcome-div { order: 2; }
  .stories-div { order: 3; }
  .about-div { order: 4; }

  [class*="colmap-"] {
		width: 100%;
  }
  .container {
  	width: 90%;
  	display: flex;
  	flex-flow: column;
  }
  .colmap-4 { order: 1; }
  .colmap-8 { order: 2; }
}

@media only screen and (min-width: 768px) {
	/* all except mobile phones: */
	.heading-section {
    	padding-top: 150px;
    }

	.dropdown-menu.show {
		top: -40px !important;
		left: 45% !important;
		width: 100%;
		max-width: 90%;
		min-width: 80%;
	}
}

.dropdown-menu.show {
	top: -40px !important;
	width: 100%;
	max-width: 90%;
	min-width: 80%;
}

.dropdown {
	margin-bottom: 10px;
}

#map {
  border-radius: 8px;
  height: 740px;
  width: 100%;
  max-height: 742px;
}

.legend {
	line-height: 25px;
	background-color: rgb(238, 238, 238);
	padding: 10px;
	border-radius: 5px;
	opacity: 1;
}
.legend i {
	width: 25px;
	height: 25px;
	float: left;
	margin-right: 8px;
}