body {	
	margin:0; 
	padding:0; 
}

h2,
h3 {
  margin: 10px;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 0.85em;
  margin: 10px;
  text-align: left;
}

#map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
}

.geocoder {
	position:absolute;
	z-index:1;
	width:50%;
	left:60%;
	margin-left:-25%;
	top:20px;
}

.mapboxgl-ctrl-geocoder { 
	min-width:100%; 
}

.map-overlay {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  margin: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

a {
	color: black;
	text-decoration: none !important;
}

#features {
  top: 100px;
  height: 630px;
  margin-top: 20px;
  width: 500px;
  right: 0;
}

#features_health {
  top: 100px;
  height: 300px;
  margin-top: 20px;
  width: 500px;
  right: 0;
}

#features_education {
  top: 100px;
  height: 150px;
  margin-top: 20px;
  width: 500px;
  right: 0;
}

#features_economic {
  top: 100px;
  height: 330px;
  margin-top: 20px;
  width: 500px;
  right: 0;
}

#state-options {
  top: 10px;
  left: 200px;
}

#pc-options {
  top: 10px;
  left: 300px;
}

#legend {
  bottom: 0;
  right: 0;
  padding: 10px;
  line-height: 18px;
  margin-bottom: 40px;
  width: 100px;
}

#zoomButton {
  border: none;
  padding:10px;
  line-height:18px;
  width:170px;
  top:100px;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #000;
  background: rgba(255, 255, 255, 0.8);
  z-index:1;
}

#fulldata {
  text-align: center;
  padding:10px;
  line-height:18px;
  width:150px;
  top:150px;
}

#economic {
  padding:10px;
  line-height:18px;
  width:150px;
  top:200px;
  text-align: center;
}

#health {
  padding:10px;
  line-height:18px;
  width:150px;
  top:270px;
  text-align: center;
}

#education {
  padding:10px;
  line-height:18px;
  width:150px;
  top:320px;
  text-align: center;
}

#about {
  padding:10px;
  line-height:18px;
  width:150px;
  top:370px;
  text-align: center;
}

#indicator {
  padding:10px;
  line-height:18px;
  width:150px;
  top:0;
  text-align: center;
  right:330px;
}

.text {
  left: 200px;
  padding:10px;
  margin-left:200px;
  margin-top:50px;
  line-height:18px;
  /*width:150px;*/
  top:70px;
}

#dd-economic {
  top: 50px;
  font-size: 18px;
  right:0;
  width: 500px;
}

#dd-health {
  top: 50px;
  font-size: 18px;
  right:0;
  width: 500px;
}

#dd-education {
  top: 50px;
  font-size: 18px;
  right:0;
  width: 500px;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}